In [37]:
import math
import random

In [38]:
def function(x):
  action_1 = math.sqrt(x) * math.sin((x**2)/2) - 1.3
  action_2 = (x**1/5) + (math.e**(3*x)) + math.fabs(math.cos(x))
  return action_1 / action_2

In [39]:
def random_generation(count_value, a, b):
  values = []
  for i in range(count_value):
    values.append(random.uniform(a, b))
  return values

In [40]:
def alot_of_functions(x_values_list):
  results = []
  for x in x_values_list:
    results.append(function(x))

  return results

In [41]:
class BankAccount():
  def __init__(self, name) -> None:
    self.user_name_ = name
    self.balance_ = 5000


  def make_transfer(self, sum_of_transfer, adress_of_transfer):
    if self.balance_ >= sum_of_transfer:
      self.balance_ -= sum_of_transfer
      adress_of_transfer.balance_ += sum_of_transfer

    else:
      print('недостаточно средств')

  def top_up(self, sum_):
    self.balance_ += sum_

In [42]:
x_values = random_generation(10, a=0.1, b=0.6)

In [43]:
#Задание 1

In [44]:
function(x=0.5)

-0.22197863235576268

In [45]:
#задание 2

In [46]:
sum(alot_of_functions(x_values))

-3.111476887441336

In [47]:
#задаание 3

In [48]:
acount_1 = BankAccount('name_1')
acount_2 = BankAccount('name_2')

In [49]:
print('баланс 1-го аккаунта', acount_1.balance_)
print('баланс 2-го аккаунта', acount_2.balance_)

баланс 1-го аккаунта 5000
баланс 2-го аккаунта 5000

In [50]:
# из аккаунта 1 переводим не аккаунт 2 1000

In [51]:
acount_1.make_transfer(1000, acount_2)

In [52]:
print('баланс 1-го аккаунта', acount_1.balance_)
print('баланс 2-го аккаунта', acount_2.balance_)

баланс 1-го аккаунта 4000
баланс 2-го аккаунта 6000